
:root {
  --primary-color: #004466;
  --accent1-color: #006699;
  --accent2-color: #ffffff;

  --heading-font: 'Georgia', serif;
  --body-font: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  color: #333;
  background-color: #f9f9f9;
  line-height: 1.6;
}


header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}


h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  margin-bottom: 12px;
  text-align: center;
}

/*  HEADER  */
.header {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 10px;
  background-color: var(--accent1-color);
  border-bottom: 2px solid var(--primary-color);
}

.header img {
  display: flex;
  justify-content: flex-end;
 
  max-width: 100px;
}

.header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header nav a {
  text-decoration: none;
  color: var(--accent2-color);
  font-weight: bold;
}

.header nav a:hover {
  color: var(--accent1-color);
}

/*  HERO  */
.hero {
  position: relative;
  margin-top: 16px;
}

.hero img {
  display: block;
  width: 100%;   
  height: 350px; 
  object-fit: cover; 
}


.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 0.85;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  top: 100px;
  bottom: 70px;
  left: 40px;
  right: 40px;
  background-color: rgba(255,255,255,0.9);
  padding: 16px;
  border-radius: 6px;
}

.hero article img {
  float: right;
  height: 150px;
  width: 125px;
  margin-left: 16px;
  border-radius: 6px;
}

/*  HISTORY  */
.history {
  margin: 40px 0;
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  gap: 20px;
  align-items: center;
}

.history-grid img {
  width: 100%;
  border-radius: 6px;
}

/*  ADVENTURES  */
.adventures {
  margin: 40px 0;
}

.adventure-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.adventure-gallery figure:nth-child(3) img {
  height: 270px;      
  object-fit: cover;  
}
.adventure-gallery figure:nth-child(5) img {
  height: 270px;      
  object-fit: cover;
}


.adventure-gallery figure {
  flex: 1 1 calc(20% - 16px);
  text-align: center;
}

.adventure-gallery img {
  width: 100%;
  border-radius: 6px;
}

.adventure-gallery figcaption {
  margin-top: 6px;
  font-size: 0.9rem;
  color: var(--primary-color);
}

/*  FOOTER  */
footer {
  border-top: 2px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 0.9rem;
}

.socialmedia {
  display: flex;
  gap: 12px;
}

.socialmedia img {
  width: 28px;
}
.p p {
  display: grid;
  justify-content: center;

}